@page "/"
@using SkillSnap.Client.Components

<PageTitle>SkillSnap</PageTitle>

<h1 class="mb-4">SkillSnap</h1>

<p class="mb-4">Welcome to my portfolio and project tracker.</p>

<ProfileCard />

<ProjectList />

<SkillTags />