@using SkillSnap.Client.Services
@using SkillSnap.Shared.Models
@inject ProjectService ProjectService

<h3>Projects</h3>

@if (projects == null)
{
  <p>Loading projects...</p>
}
else if (projects.Count == 0)
{
  <p>No projects found.</p>
}
else
{
  <ul>
    @foreach (Project project in projects)
    {
      <li>
        <strong>@project.Title</strong><br />
        @project.Description
      </li>
    }
  </ul>
}

@code {
  private List<Project> projects = new List<Project>();

  protected override async Task OnInitializedAsync()
  {
    projects = await ProjectService.GetProjectsAsync();
  }
}